---
BasedOnStyle: Google
Language: C

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignEscapedNewlines: Right
AlignOperands: false

ReflowComments: false

IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
BreakBeforeBraces: Attach

ColumnLimit: 200
MaxEmptyLinesToKeep: 2

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
...
