---
CompileFlags:
  Add:
    - -x
    - c
    - -std=c99
    - -pedantic
    - -Wall
    - -Wno-deprecated-declarations
    - -Os
    - -I/usr/X11R6/include
    - -I/usr/include/freetype2
    - -D_DEFAULT_SOURCE
    - -D_BSD_SOURCE
    - -D_XOPEN_SOURCE=700L
    - -DVERSION="6.4"
    - -DXINERAMA
    - -I/usr/include/fontconfig
...
