---
BasedOnStyle: Google
Language: C

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignTrailingComments: true
AlignEscapedNewlines: Right
AlignOperands: false

ReflowComments: false

IndentWidth: 2
TabWidth: 2
UseTab: ForContinuationAndIndentation
ContinuationIndentWidth: 2

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
BreakBeforeBraces: Attach

ColumnLimit: 0
MaxEmptyLinesToKeep: 2

AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: true
BinPackParameters: true
IndentCaseLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
...
